<p>
  <%= flash[:notice] %>
</p>

<h2>Title</h2>
<p>
    <%= @book.title %>
    </p>

<h2>Body</h2>
<p>ra
    <%= @book.body %>
    </p>
    
  <Span>
    <%= link_to "edit", edit_book_path(@book.id) %>
    </Span>
 

  <span>
    <%= link_to "back", books_path %>
    </Span>

